.wrap{
	width: 100%;
	max-width: 1470px;
	margin: 0 auto;
	align-items: center;
}

.flex{
	display: flex;
}


.btn-reset{
	border: none;
	background-color: transparent;
	cursor: pointer;
	padding: 0;
}